@import "../../node_modules/bulma/css/bulma.css";

body {
    background-color: #2A2F37;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
}

.is-dark {
    background-color: transparent !important;
}

a {
    color: rgb(74, 227, 166) !important;
}