@import "../../node_modules/bulma/css/bulma.css";

body {
    background-color: #2A2F37;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
}

.is-dark {
    background-color: transparent !important;
}

a {
    color: rgb(74, 227, 166) !important;
}

.upload-modal {
    margin: 10px;
    border-style: dashed;
    border-radius: 2px;
    border-width: medium;
    min-height: 200px;
    height: auto;
    border-color: rgb(180,180,180);
    background-color: gainsboro;
    color: rgb(128,128,128);
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}